{% extends 'base.html' %}
{% block content %}
    <h3>About us</h3>
<p>The KNIGOSKLAD online store is a virtual bookstore, on the shelves of which anyone will definitely find something to
    their liking. Thousands of books of various orientations and subjects, for different ages,
    for study and self-knowledge, for work and leisure of the whole family, are waiting for their customers.
    We work on weekdays from 9.00 to 18.00 and at this time we receive calls from you. On weekends and holidays,
    you can place an order on the website through the basket. In this case, our managers will contact you to confirm
    the order on the next working day.

    <p>With us you can always find:</p>

    <p>- the latest literary novelties</p>

    <p>– popular worldwide bestsellers of various genres</p>

    <p>– the best works of Ukrainian and foreign classical literature</p>

    <p>– popular science and educational books for the whole family</p>

    <p>– business literature and books on self-development</p>

    <p>– literature for schoolchildren and students</p>

    <p>- gift books for all occasions</p>

    <p>- the most interesting and colorful books for our children - from toddlers to teenagers</p>

    <p>KNIGOSKLAD is a team of people who are in love with their work and who infinitely value each of their clients.
        We make sure that the purchase process is absolutely comfortable for you, and we also provide you with the lowest possible prices for all products.</p>
    <p>We are sure that KNIGOSKLAD will definitely become your good friend and reliable assistant in organizing your leisure time.</p>

    <p>READ TOGETHER WITH THE KNIGOSKLAD!</p>
{% endblock %}