{% extends 'base.html' %}
{% block content %}
<h2>Payment and delivery</h2>
    <h3>Shipping Options</h3>
    <p>We will deliver the goods to any city within 2-3 working days from the date of confirmation of the order.
        Delivery is carried out by a courier service. Shipping costs are charged according to the carrier's rates.
        More detailed information can be found on the website of the carrier company.</p>
    <h3>You can pay for the ordered goods in several ways:</h3>
    <ul>
        <li>Payment by credit card at any branch of the bank</li>
        <li>Payment via LiqPay</li>
        <li>Cash on delivery</li>
    </ul>
    <h3>Exchange and return of goods</h3>
    <p>If you decide to contact us about the exchange or return of purchased products,
        we advise you to consider the following points:</p>
    <ul>
        <li>When receiving an order, be sure to check the integrity of the packaging and the quality of the goods.
            Check for any damage. This can be done directly in the presence of the delivery service employees.</li>
        <li>We are not responsible for damage to products that have not been inspected upon receipt.</li>
        <li>If you find any discrepancies or damage, you have the right to refuse to receive the goods.</li>
    </ul>
{% endblock %}